body {
  background-color:honeydew;
color: darkgreen;

}

#darkMode {
  float: right;
  padding: 9px 25px;
  background-color: darkgrey;
  border: none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s:
}

h1{
  font-size: 32;
  color: darkgreen;
  font-family: Sofia;
  text-align: center;
}




  ul {
    list-style-position: inside;

}

.gallery > .imagecaption{
  float:left;

}

.imagecaptionn{
  float: left;
}

.imagecaption{
  height: 100%;
  float: right;

}



.wgstw {
  border-radius: 8px;
  height: 600px;
  border: solid;
/*  margin: 1%;
  padding: 1%;
  float: right;
  */

}

 figcaption {
/*  float: right;
  width: 30%;
*/  text-align: right;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
/*  margin: 0.5em;
  padding: 0.5em;
*/
}

#find{
  text-color: darkgreen;
  font-size: 24;
  font-family: Andika New Basic;
}
#list{
  color:darkblue;
  font-size:15;
  font-family: Andika New Basic;
}
.container {
   width: 100%;
   margin: 0 auto;
   display: flex;
   font-family: Andika New Basic;
   border-radius: 2px;
   border: 1px dotted black;


}
.aime {
  border-radius: 8px;
  height: 600px;
  border: 2px solid Black;
  margin: 1%;
  padding: 1%;
}

.selfportrait{
    border-radius: 8px;
    height: 600px;
    border: 2px solid Black;
    margin: 1%;
    padding: 1%;
  }


.details {
    border-radius: 8px;
    height: 600px;
    border: 2px solid Black;
    margin: 1%;
    padding: 1%;
}
.brooklyn {
  border-radius: 8px;
  height: 600px;
  border: 2px solid Black;
  margin: 1%;
  padding: 1%;
}
.caption{
  font:raleway;
  color: grey;
  font-style: italic;
  font-size: 9;
}
.container {
   width: 100%;
   margin: 0 auto;
   display: flex;
}


nav {
  flex: 2;
  display: flex;
  align-items: stretch;
  font: times;
}

.nav-list {
    flex: 1;
    list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px;
}


a:visited {
 color: darkgreen;
}

/* latin */
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sofia/v9/8QIHdirahM3j_su5uI0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Andika New Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/andikanewbasic/v1/taiRGn9tCp-44eleq5Q-mszJivxSeKeeEVKD.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Andika New Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/andikanewbasic/v1/taiRGn9tCp-44eleq5Q-mszJivxSeKaeEVKD.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Andika New Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/andikanewbasic/v1/taiRGn9tCp-44eleq5Q-mszJivxSeKieEQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
